<div class="alert alert-secondary" *ngIf="showDeleteMsg">
  deleted successfully!
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
    </tr>
  </thead>
  <ng-container *ngFor="let customer of customerArray">
    <tr>
      <td>{{customer.name}}</td>
      <td>{{customer.mobile}}</td>
      <td>{{customer.email}}</td>
      <td><button class="btn btn-outline-info" (click)="onEdit(customer)"> Edit </button></td>
      <td><button class="btn btn-outline-danger" (click)="onDelete(customer.$key)"> Delete </button></td>
    </tr>
  </ng-container>
</table>



